[flake8]
# F821: @subpackage is done by assigning a builtin
# E501: we stick to 80 cols but some source strings are longer
# W503, E203: conflicts with black
extend-ignore = F821,E501,W503,E203
max-line-length = 80
