# add yourself here if name/email changes
#
# format:
#
# propername <proper@email> commitname <commit@email>

q66 <q66@chimera-linux.org> Daniel Kolesa <daniel@octaforge.org>
q66 <q66@chimera-linux.org> Daniel Kolesa <q66@chimera-linux.org>
q66 <q66@chimera-linux.org> Daniel Kolesa <dkolesa@igalia.com>
q66 <q66@chimera-linux.org> q66 <daniel@octaforge.org>
triallax <triallax@tutanota.com> <triallax@tutanota.com>
