# This is a reference for the cbuild configuration file.
# Every value specified here is the system's default.

# options related to building packages
[build]
# whether -dbg packages will be generated
build_dbg = no
# default build root path (absolute or relative to cports)
build_root = bldroot
# whether ccache will be used in the build
ccache = no
# default ccache files path (absolute or relative to cports)
ccache_path = ccache
# whether to run check phase
check = yes
# number of jobs to use when building
jobs = 1
# default user C compiler flags
cflags = -O2
# default user C++ compiler flags
cxxflags = -O2
# default user linker flags
ldflags =
# default local repository path for packages (absolute or relative to cports)
repository = packages
# default source distfiles path (absolute or relative to cports)
sources = sources

# options related to signing packages
[signing]
# signing key name (in etc/keys) or path (absolute or relative to cports)
key = your_private_key.rsa
