[Desktop Entry]
Version=1.0
Name=Deluge
Name[af]=Deluge
Name[ar]=دلوج
Name[ast]=Deluge
Name[be]=Deluge
Name[bg]=Deluge
Name[ca]=Deluge
Name[cs]=Deluge
Name[cy]=Deluge
Name[da]=Deluge
Name[de]=Deluge
Name[el]=Deluge
Name[en_AU]=Deluge
Name[en_CA]=Deluge
Name[en_GB]=Deluge
Name[es]=Deluge
Name[et]=Deluge
Name[eu]=Deluge
Name[fi]=Deluge
Name[fr]=Deluge
Name[fy]=Deluge
Name[gl]=Deluge
Name[he]=Deluge
Name[hi]=डिल्यूज
Name[hr]=Deluge
Name[hu]=Deluge
Name[id]=Deluge
Name[is]=Deluge
Name[it]=Deluge
Name[ja]=Deluge
Name[ka]=დელუჯი
Name[kk]=Deluge
Name[ko]=Deluge
Name[lt]=Deluge
Name[lv]=Deluge
Name[mk]=Deluge
Name[ms]=Deluge
Name[nb]=Deluge
Name[nl]=Deluge
Name[nn]=Deluge
Name[oc]=Deluge
Name[pl]=Deluge
Name[pt]=Deluge
Name[pt_BR]=Deluge
Name[ro]=Deluge
Name[ru]=Deluge
Name[si]=Deluge
Name[sk]=Deluge
Name[sl]=Deluge
Name[sr]=Делуге
Name[sv]=Deluge
Name[tr]=Deluge
Name[uk]=Deluge
Name[vi]=Deluge
Name[zh_CN]=Deluge
Name[zh_TW]=Deluge
GenericName=BitTorrent Client
GenericName[ca]=Client de BitTorrent
GenericName[cs]=BitTorrent klient
GenericName[da]=BitTorrent-klient
GenericName[de]=BitTorrent-Klient
GenericName[el]=Πελάτης BitTorrent
GenericName[en_AU]=BitTorrent Client
GenericName[en_CA]=BitTorrent Client
GenericName[en_GB]=BitTorrent Client
GenericName[es]=Cliente de BitTorrent
GenericName[et]=BitTorrenti klient
GenericName[eu]=BitTorrent Bezeroa
GenericName[fi]=BitTorrent-sovellus
GenericName[fr]=Client BitTorrent
GenericName[gl]=Cliente de BitTorrent
GenericName[hr]=BitTorrent klijent
GenericName[hu]=BitTorrent kliens
GenericName[it]=Client BitTorrent
GenericName[ja]=BitTorrent クライアント
GenericName[ka]=BitTorrent კლიენტი
GenericName[lt]=BitTorrent klientas
GenericName[lv]=BitTorrent klients
GenericName[mk]=BitTorrent клиент
GenericName[ms]=Klient BitTorrent
GenericName[nn]=BitTorrent-klient
GenericName[oc]=Client BitTorrent
GenericName[pl]=Klient BitTorrent
GenericName[pt]=Cliente bittorrent
GenericName[pt_BR]=Cliente BitTorrent
GenericName[ro]=Client BitTorrent
GenericName[ru]=BitTorrent клиент
GenericName[si]=BitTorrent අනුග්‍රාහකයා
GenericName[sk]=BitTorrent klient
GenericName[sl]=Odjemalec za BitTorrent
GenericName[sr]=Клијент Бит-Торента
GenericName[sv]=Bittorrentklient
GenericName[tr]=BitTorrent İstemcisi
GenericName[uk]=Клієнт BitTorrent
GenericName[vi]=Trình khách BitTorrent
GenericName[zh_CN]=BitTorrent 客户端
GenericName[zh_HK]=BitTorrent 用戶端
GenericName[zh_TW]=BitTorrent 用戶端
X-GNOME-FullName=Deluge BitTorrent Client
X-GNOME-FullName[ca]=Client de BitTorrent Deluge
X-GNOME-FullName[cs]=BitTorrent klient Deluge
X-GNOME-FullName[da]=Deluge BitTorrent-klient
X-GNOME-FullName[de]=Deluge – BitTorrent-Client
X-GNOME-FullName[el]=Πελάτης BitTorrent Deluge
X-GNOME-FullName[en_AU]=Deluge BitTorrent Client
X-GNOME-FullName[en_CA]=Deluge BitTorrent Client
X-GNOME-FullName[en_GB]=Deluge BitTorrent Client
X-GNOME-FullName[es]=Cliente BitTorrent Deluge
X-GNOME-FullName[et]=Deluge BitTorrenti klient
X-GNOME-FullName[eu]=Deluge BitTorrent Bezeroa
X-GNOME-FullName[fi]=Deluge-BitTorrent-sovellus
X-GNOME-FullName[fr]=Client BitTorrent Deluge
X-GNOME-FullName[gl]=Cliente de BitTorrent Deluge
X-GNOME-FullName[hr]=Deluge BitTorrent klijent
X-GNOME-FullName[hu]=Deluge BitTorrent kliens
X-GNOME-FullName[it]=Client BitTorrent Deluge
X-GNOME-FullName[ka]=BitTorrent კლიენტი Deluge
X-GNOME-FullName[lt]=Deluge BitTorrent klientas
X-GNOME-FullName[lv]=Deluge BitTorrent klients
X-GNOME-FullName[mk]=Deluge BitTorrent клиент
X-GNOME-FullName[ms]=Klien BitTorrent Deluge
X-GNOME-FullName[nn]=Deluge BitTorrent-klient
X-GNOME-FullName[oc]=Client BitTorrent Deluge
X-GNOME-FullName[pl]=Klient BitTorrent Deluge
X-GNOME-FullName[pt]=Deluge BitTorrent
X-GNOME-FullName[pt_BR]=Cliente BitTorrent Deluge
X-GNOME-FullName[ro]=Client BitTorrent Deluge
X-GNOME-FullName[ru]=BitTorrent клиент Deluge
X-GNOME-FullName[si]=Deluge BitTorrent අනුග්‍රාහකයා
X-GNOME-FullName[sk]=Deluge BitTorrent klient
X-GNOME-FullName[sl]=Deluge, odjemalec za BitTorrent
X-GNOME-FullName[sr]=Делуге клијент Бит-Торента
X-GNOME-FullName[sv]=Deluge bittorrentklient
X-GNOME-FullName[tr]=Deluge BitTorrent İstemcisi
X-GNOME-FullName[uk]=BitTorrent клієнт Deluge
X-GNOME-FullName[vi]=Trình khách BitTorrent Deluge
X-GNOME-FullName[zh_CN]=Deluge BitTorrent 客户端
X-GNOME-FullName[zh_HK]=Deluge BitTorrent 用戶端
X-GNOME-FullName[zh_TW]=Deluge BitTorrent 用戶端
Comment=Download and share files over BitTorrent
Comment[ca]=Baixeu i compartiu fitxers a través de BitTorrent
Comment[cs]=Stahovat a sdílet soubory přes BitTorrent
Comment[da]=Download og del filer over BitTorrent
Comment[de]=Dateien über BitTorrent herunterladen und tauschen
Comment[el]=Λήψη και διαμοιρασμός αρχείων μέσω BitTorrent
Comment[en_AU]=Download and share files over BitTorrent
Comment[en_CA]=Download and share files over BitTorrent
Comment[en_GB]=Download and share files over BitTorrent
Comment[es]=Descargue y comparta archivos mediante BitTorrent
Comment[et]=Laadi alla ja levita faile BitTorrenti kaudu
Comment[eu]=Deskargatu eta partekatu fitxategiak BitTorrent bidez
Comment[fi]=Lataa ja jaa tiedostoja BitTorrentin avulla
Comment[fr]=Télécharge et partage des fichiers via BitTorrent
Comment[gl]=Descarga e comparte ficheiros con BitTorrent
Comment[hr]=Preuzimajte i dijelite datoteke putem BitTorrenta
Comment[hu]=Fájlok letöltése és megosztása BitTorrenten keresztül
Comment[it]=Scarica e condivide i file via BitTorrent
Comment[ka]=ჩამოტვირთეთ და გააზიარეთ ფაილები BitTorrent-ის გამოყენებით
Comment[lt]=Parsiųsti ir dalintis failais per BitTorrent
Comment[lv]=Lejupielādēt un dalīties ar failiem caur BitTorrent
Comment[mk]=Преземете и споделувајте датотеки преку BitTorrent
Comment[ms]=Muat turun dan kongsi fail melalui BitTorrent
Comment[nn]=Last ned og del filer over BitTorrent
Comment[oc]=Recep e parteja de fichièrs via BitTorrent
Comment[pl]=Pobieraj i udostępniaj pliki poprzez BitTorrent
Comment[pt]=Receber e partilhar ficheiros via bittorrent
Comment[pt_BR]=Baixar e compartilhar arquivos pelo BitTorrent
Comment[ro]=Descarcă și partajează fișiere prin BitTorrent
Comment[ru]=Загружайте и обменивайтесь файлами в сети BitTorrent
Comment[si]=BitTorrent හරහා ගොනු බාගත කිරීම සහ බෙදාහැරීම සිදුකරන්න
Comment[sk]=Preberanie a zdieľanie súborov cez BitTorrent
Comment[sl]=Prejemajte in delite datoteke preko protokola BitTorrent
Comment[sr]=Преузимајте и делите датотеке преко Бит-Торента
Comment[sv]=Hämta och dela filer över bittorrent
Comment[tr]=Dosyaları BitTorrent üzerinden indirin ve paylaşın
Comment[uk]=Завантаження та обмін файлами через BitTorrent
Comment[vi]=Tải và chia sẻ tập tin qua BitTorrent
Comment[zh_CN]=通过 BitTorrent 下载和共享文件
Comment[zh_HK]=透過 BitTorrent 來下載和分享檔案
Comment[zh_TW]=透過 BitTorrent 協定來下載和分享檔案
Keywords=bittorrent;torrent;magnet;download;p2p;torrents;downloading;uploading;share;sharing;
TryExec=deluge-gtk
Exec=deluge-gtk %U
Icon=deluge
Terminal=false
Type=Application
Categories=Network;FileTransfer;P2P;GTK;
StartupWMClass=deluge
StartupNotify=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
X-GNOME-UsesNotifications=true
