[Desktop Entry]
Name=kio-fuse
Comment=Fuse interface for KIO
Type=Application
Exec=/usr/libexec/kio-fuse -f
TryExec=/usr/libexec/kio-fuse
Terminal=false
