name: Lint tree and check format

on:
  push:
    branches:
      - master
    paths:
      - 'main/**'
      - 'contrib/**'
      - 'user/**'
      - 'src/**'

  pull_request:
    branches:
      - master
    paths:
      - 'main/**'
      - 'contrib/**'
      - 'user/**'
      - 'src/**'

jobs:
  lint:
    name: Lint tree and check format
    runs-on: ubuntu-latest
    steps:
      - name: Refresh packages
        run: sudo apt-get update && sudo apt-get install python3-pip

      - name: Install dependencies
        run: sudo pip3 install black flake8

      - name: Checkout
        uses: classabbyamp/treeless-checkout-action@v1

      - name: Lint tree
        run: flake8 main contrib src

      - name: Check format
        run: black --check main contrib src
